.element__btn {
  width: 21px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-left: 30px;
  transition: opacity 1s ease-out;
  background-color: white;
  border: none;
}

.element__btn:hover {
  opacity: 0.6;
}
